<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />



    <link href="../dist/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />

    <link href="../dist/css/sb-admin-2.min.css" rel="stylesheet" />
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- sidebarr -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: rgb(247, 135, 43)"
            id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>
            <hr class="sidebar-divider my-0" />
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider" />
            <div class="sidebar-heading">Input</div>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/cat">
                    <i class="fas fa-fw fa-fill"></i>
                    <span>Jenis Cat</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/kondisi">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Kondisi Rumah</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/pengetahuan">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>Basis Pengetahuan</span></a>
            </li>


            <hr class="sidebar-divider d-none d-md-block" />

            <div class="sidebar-heading">Data</div>


            <li class="nav-item">
                <a class="nav-link" href="/admin/riwayat">
                    <i class="fas fa-fw fa/-history"></i>
                    <span>Riwayat</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block" />


            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- content -->
        <div id="content-wrapper" class="d-flex flex-column">
            <title-component :title="this.pageTitle"></title-component>
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>


                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="../dist/img/undraw_profile.svg" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>



                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col">
                            <h1>Jenis Cat</h1>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#input">
                                <i class="fas fa-plus mr-2"></i>
                                Tambah Jenis
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kode Jenis Cat</th>
                                        <th>Nama Jenis Cat</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(jenisCat, index) in jenisCatList" :key="index">
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ jenisCat.kode }}</td>
                                        <td>{{ jenisCat.nama }}</td>
                                        <td>
                                            <a href="" class="btn btn-warning mr-3" @click="editCat(jenisCat)"
                                                data-toggle="modal" data-target="#input">
                                                <i class="fas fa-edit"></i></a>
                                            <a @click="delCat(jenisCat.id)" class="btn btn-danger">
                                                <i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SP Jenis Cat 2023</span>
                    </div>
                </div>
            </footer>



            <div class="modal fade" id="input" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ modalTitle }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form @submit.prevent="addCat">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Kode Cat</label>
                                    <input v-model="kode" type="text" class="form-control"
                                        placeholder="Enter Paint Code" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Nama Cat</label>
                                    <input v-model="nama" type="text" class="form-control"
                                        placeholder="Enter Paint Name" id="exampleInputPassword1" />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Ready to Leave?
                        </h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Select "Logout" below if you are ready to end your current
                        session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                            Cancel
                        </button>
                        <a class="btn btn-primary" @click="logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../dist/vendor/jquery/jquery.min.js"></script>
    <script src="../dist/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../dist/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../dist/js/sb-admin-2.min.js"></script>
    <script src="../dist/js/auths.js"></script>
    <script>
        new Vue({
            el: "#wrapper",
            data: {
                apiUrl: "http://localhost:3000/api/cat",
                jenisCatList: [],
                kode: "",
                nama: "",
                id: 0,
                pageTitle: "Admin - Cat",
                modalTitle: "Input Data Cat",
                token: localStorage.getItem("token"),
            },
            mounted() {
                this.getDataFromApi();
            },
            created() {
                if (this.token) {
                    this.isAuthenticated = true;
                } else {
                    this.isAuthenticated = false;
                    window.location.href = "/login";
                }
            },
            methods: {
                getDataFromApi() {
                    axios
                        .get(this.apiUrl, window.crtHeader())
                        .then((res) => {
                            this.jenisCatList = res.data;
                        })
                        .catch((error) => console.error("Error get data:", error));
                },
                addCat() {
                    const data = {
                        id: this.id,
                        kode: this.kode,
                        nama: this.nama,
                    };
                    if (!data.id) {
                        axios
                            .post(this.apiUrl, data, window.crtHeader())
                            .then((res) => {
                                $("#input").modal("hide");
                                this.jenisCatList.push(res.data);
                                this.id = 0;
                                this.kode = "";
                                this.nama = "";
                            })
                            .catch((err) => {
                                console.error(err);
                            });
                    } else {
                        axios
                            .put(this.apiUrl + "/" + data.id, data, window.crtHeader())
                            .then((res) => {
                                $("#input").modal("hide");
                                var res = this.jenisCatList.find((x) => x.id == data.id);
                                if (res) {
                                    res.kode = data.kode;
                                    res.nama = data.nama;
                                }
                                this.id = 0;
                                this.kode = "";
                                this.nama = "";
                            })
                            .catch((err) => {
                                console.error(err);
                            });
                    }
                },
                editCat(item) {
                    this.modalTitle = "Update Data Cat";
                    this.id = item.id;
                    this.kode = item.kode;
                    this.nama = item.nama;
                },

                delCat(id) {
                    axios
                        .delete(`http://localhost:3000/api/cat/${id}`, window.crtHeader())
                        .then(() => {
                            this.jenisCatList = this.jenisCatList.filter(
                                (cat) => cat.id !== id
                            );
                        });
                },

                logout() {
                    localStorage.removeItem("token");
                    window.location.href = "/login";
                },
            },
        });
    </script>
</body>

</html>