<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/style.css">
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'poppins': ['Poppins', 'sans-serif'],
                    }
                },
            }
        }
    </script>

</head>

<body>
    <div id="app">
        <div class="relative w-screen text-black h-screen bg-cover bg-[center_bottom_-11rem]"
            style="background-image: url('../dist/img/front-bg.jpg');">
            <div class="absolute inset-0 bg-black opacity-50"></div>
            <div class="p-4 relative  z-10 flex flex-col items-center overflow-y-auto h-full text-center">
                <!-- card konsultasi -->
                <div v-if="!showRes" class="w-full bg-gray-200">
                    <hr class="border-blue-500 border-2">
                    <h1 class="text-3xl text-gray-800 capitalize font-semibold text-start p-4">konsultasi jenis cat
                        jotun eksterior</h1>
                    <hr class="border-black/20 border">
                    <div class="p-4 w-full">
                        <!-- form bidata konsumen -->
                        <div class="w-full bg-white rounded-md shadow-md">
                            <h1 class="font-medium text-xl text-gray-700 text-start p-3">Data Konsumen</h1>
                            <hr class="w-full border border-gray-300">
                            <div class="p-4">
                                <div class="flex items-center justify-center">
                                    <div class="w-1/2 text-start mr-2">
                                        <label class="text-gray-700 font-medium">Nama</label>
                                        <input type="text" :class="this.inputStyle">
                                    </div>
                                    <div class="w-1/2 text-start">
                                        <label class="text-gray-700 font-medium">Alamat</label>
                                        <input type="text" :class="this.inputStyle">
                                    </div>
                                </div>
                                <div class="flex items-center justify-center my-4">
                                    <div class="w-1/2 text-start mr-2">
                                        <label class="text-gray-700 font-medium">Kontak</label>
                                        <input inputmode="numeric" :class="this.inputStyle">
                                    </div>
                                    <div class="w-1/2 text-start">
                                        <label class="text-gray-700 font-medium">Email</label>
                                        <input type="email" :class="this.inputStyle">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- guide -->
                        <div v-if="showGuide" class="flex flex-col items-center">
                            <div
                                class="w-full bg-[#FFA41D] my-4 p-4 text-gray-800 shadow-md rounded-md flex items-center">
                                <p class="text-left text-lg w-[95%] mr-5">Silahkan isi form berikut menurut tingkat
                                    keyakinan terhadap lingkungan luar rumah anda. Anda dapat menilai dari Sangat Tidak
                                    Yakin sampai
                                    Sangat Yakin dari arah kiri ke kanan. Setelah memilih, tekan tombol
                                    "Lihat Hasil" di
                                    bawah
                                    untuk mendapatkan hasil rekomendasi.
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2.5" class="w-6 h-6 hover:text-white"
                                    @click="showGuide = false">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </div>
                            <img class="w-1/2" src="../dist/img/guide.png" alt="contoh">
                        </div>
                        <div v-if="!showGuide" class="flex justify-end my-4">
                            <button
                                class="font-bold text-3xl text-gray-800 hover:text-white bg-[#FFA41D] focus:ring-2 focus:ring-amber-200 rounded-full w-10"
                                @click="showGuide = true">?</button>
                        </div>

                        <!-- table konsultasi -->
                        <div class="w-full rounded-md border bg-white border-gray-500">
                            <table class="w-full border-none rounded-md overflow-hidden text-xl">
                                <thead>
                                    <tr class="border-b border-gray-400">
                                        <th>#</th>
                                        <th class="text-start p-2">Kondisi</th>
                                        <th class="text-start">Tingkat Keyakinan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-b border-gray-300" v-for="(q, qIndex) in questions" :key="qIndex">
                                        <td class="text-center px-4 py-3">{{ qIndex + 1 }}</td>
                                        <td class="text-start">{{ q.text }}</td>
                                        <td>
                                            <div class="flex flex-row items-center justify-start">
                                                <label v-for="(a, aIndex) in q.answers" :key="aIndex" class="mb-1">
                                                    <input type="radio" :name="'question-' + qIndex"
                                                        :id="qIndex + '-' + aIndex" class="mr-8"
                                                        @change="updateAnswer(q.code, a.pilihan, qIndex)">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button
                            class="bg-[#F7872B] my-4 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            @click="submitAnswers">
                            Lihat Hasil
                        </button>
                    </div>

                </div>

                <!-- <div v-if="showForm">
                    <div v-for="(q, qindex) in questions" :key="qindex"
                        class="form-card w-full max-w-2xl bg-white p-8 rounded-lg shadow-md text-black mb-6 animate-slide-up-delay">
                        <label class="block text-lg font-semibold mb-4 text-black">{{ qindex + 1 }}. {{ q.text
                            }}</label>
                        <div class="space-y-2">
                            <div v-for="(a, aindex) in q.answers" :key="aindex" class="flex items-center">
                                <input type="radio" :name="'question-' + qindex" :id="qindex + '' + aindex"
                                    @change="updateAnswer(q.code, a.pilihan, qindex)">
                                <label class="text-black ml-5" :for="qindex + '' + aindex">{{ a.pilihan }}</label>
                            </div>
                        </div>
                    </div>
                    <button
                        class="bg-[#F7872B] hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        @click="submitAnswers">
                        Submit
                    </button>
                </div> -->

                <!-- <div v-else class="relative z-10 flex flex-col items-center p-4 text-center text-white">
                    <h1 class="text-2xl capitalize font-semibold mb-8 animate-slide-up">silahkan masukan data diri
                        anda
                    </h1>
                    <div
                        class="form-card w-full max-w-lg bg-white p-8 rounded-lg shadow-md text-black animate-slide-up-delay">
                        <div class="mb-4 flex flex-col justify-start w-full">
                            <label class="text-left text-gray-700 text-sm font-bold mb-2" for="nama">
                                Nama
                            </label>
                            <input v-model="formData.namaKonsumen"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight invalid:focus:outline-red-400 valid:focus:outline-green-300"
                                id="nama" type="text" placeholder="Nama" required>
                            <span v-if="!formData.namaKonsumen"
                                class="mt-2 text-pink-600 text-sm text-start font-bold">Name is
                                required</span>
                        </div>
                        <div class="mb-4 flex flex-col justify-start w-full">
                            <label class="block text-left text-gray-700 text-sm font-bold mb-2" for="alamat">
                                Alamat
                            </label>
                            <input required v-model="formData.alamat"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight invalid:focus:outline-red-400 valid:focus:outline-green-300"
                                id="alamat" type="text" placeholder="Alamat">
                            <span v-if="!formData.alamat"
                                class="mt-2 text-pink-600 text-sm text-start font-bold">Address is
                                required</span>
                        </div>
                        <div class="mb-4 flex flex-col justify-start w-full">
                            <label class="block text-left text-gray-700 text-sm font-bold mb-2" for="kontak">
                                Kontak
                            </label>
                            <input required v-model="formData.kontak"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight invalid:focus:outline-red-400 valid:focus:outline-green-300"
                                id="kontak" type="number" placeholder="Kontak">
                            <span v-if="!formData.kontak"
                                class="mt-2 text-pink-600 text-sm text-start font-bold">Contact
                                number is required</span>
                        </div>
                        <div class="mb-6 flex flex-col justify-start w-full">
                            <label class="block text-left text-gray-700 text-sm font-bold mb-2" for="email">
                                Email
                            </label>
                            <input @change="showButton" required v-model="formData.email"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight invalid:focus:outline-red-400 valid:focus:outline-green-300"
                                id="email" type="email" placeholder="Email">
                            <span v-if="!formData.email" class="mt-2 text-pink-600 text-sm text-start font-bold">Email
                                is
                                required</span>
                        </div>
                        <div class="flex items-center justify-between">
                            <button v-if="!busy"
                                class="bg-[#F7872B] hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit" @click="submitFormData">
                                Submit
                            </button>
                        </div>
                    </div>

                </div> -->

                <!-- card hasil rekomendasi 1st -->
                <div v-if="showRes" class="w-full bg-gray-200">
                    <hr class="border-green-400 border-[2.5px]">
                    <h1 class="text-3xl text-gray-800 capitalize font-semibold text-start p-4">Hasil Rekomendasi</h1>
                    <hr class="border-black/20 border">

                    <div class="p-4 w-full">
                        <div class="p-2 w-full flex justify-around rounded-md bg-white">
                            <div class="flex flex-col justify-center items-start">
                                <h1 class="font-semibold text-2xl text-gray-800 text-start">{{ firstRecommend.cat.nama
                                    }}</h1>
                                <p class="font-medium text-xl text-gray-800 text-start">{{
                                    formatPercentage(firstRecommend.odd) }} ({{ firstRecommend.odd.toFixed(2) }})</p>
                            </div>
                            <img class="w-36" :src="imgUrl" :alt="firstRecommend.cat.nama">
                        </div>
                    </div>

                </div>

                <!-- card hasil pilihan konsultasi -->
                <div v-if="showRes" class="w-full bg-gray-200 my-5">
                    <hr class="border-blue-500 border-[2.5px]">
                    <h1 class="text-3xl text-gray-800 capitalize font-semibold text-start p-4">Kondisi yang Dipilih</h1>
                    <hr class="border-black/20 border">
                    <br>
                    <div class="p-4 w-full">
                        <div class="w-full rounded-md border bg-white border-gray-500 mt-4">
                            <table class="w-full border-none rounded-md overflow-hidden text-xl">
                                <thead>
                                    <tr class="border-b border-gray-400">
                                        <th>#</th>
                                        <th class="text-start p-2">Kondisi</th>
                                        <th class="text-start">Tingkat Keyakinan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-b border-gray-300" v-for="(pk, pkIndex) in hasils.selected"
                                        :key="pkIndex">
                                        <td class="text-center px-4 py-3">{{ pkIndex + 1 }}</td>
                                        <td class="text-start">{{ pk.questions }}</td>
                                        <td class="text-start">{{ pk.pilihans }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <!-- card hasil rekomendasi Lainnya -->
                <div v-if="showRes" class="w-full bg-gray-200">
                    <hr class="border-amber-500 border-[2.5px]">
                    <h1 class="text-3xl text-gray-800 capitalize font-semibold text-start p-4">Hasil Rekomendasi Lainnya
                    </h1>
                    <hr class="border-black/2   0 border">

                    <div class="p-4 w-full">
                        <div class="p-2 w-full rounded-md bg-white">
                            <ul class="text-start w-full font-semibold text-xl p-2 list-disc list-inside"
                                v-for="(h, hIndex) in hasils.final" :key="hIndex" v-if="h.odd !== 0 && hIndex !== 0">
                                <li>{{ h.cat.nama }} - {{ formatPercentage(h.odd) }} ({{ h.odd.toFixed(2) }})</li>
                            </ul>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>

    <script src="../dist/js/konsulModel.js"></script>
    <script src="../dist/js/konsulController.js"></script>
</body>


</html>